---
// components
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';

// utils
import { formatBlogPosts } from '../js/utils';

const allPosts = await Astro.glob('./posts/*.md');
const pageTitle = "dikology: don't specialize";

const formattedPosts = formatBlogPosts(allPosts, {
  filterOutDrafts: false,
  filterOutFuturePosts: false,
  sortByDate: true,
});

const today = new Date();
const formattedDate = today.toLocaleDateString('en-US', { month: 'long', day: 'numeric', year: 'numeric' });


  const stats = [
    { title: "Posts", current: 4, total: 52 },
    { title: "Data Anki Deck", current: 32, total: 52 },
    { title: "Data Projects Portfolio", current: 2, total: 52 },
    { title: "Sailboating Articles", current: 3, total: 52 },
  ];

  stats.forEach((stat) => {
    const progress = (stat.current / stat.total) * 100;
    console.log(`${stat.title}: ${progress.toFixed(2)}%`);
  });

---
<Layout title={pageTitle}>
  <section class="hero">
    <div class="container">
      <div class="hero-content">
        <h1>Welcome to My World of Curiosity</h1>
        <p class="subtitle">
          I’m a multipassionate explorer delving into sailboating, image generation, data analytics, learning Chinese, and more.
        </p>
        <p class="mission">
          Through my writing, I craft actionable insights and lifehacks from my experiences, iterating on 52 yearly themes to help you explore life with purpose.
        </p>
        <div class="cta-buttons">
          <a href="#portfolio" class="btn btn-primary">Explore My Work</a>
          <a href="#blog" class="btn btn-secondary">Read My Articles</a>
        </div>
      </div>
      <div class="hero-background">
      </div>
    </div>
  </section>
  
  <section class="stats-section">
    <h2>Site Stats</h2>
    <div class="stats-grid">
      <div class="stat">
        <h3>Posts</h3>
        <div class="progress-bar">
          <div class="progress" style="width: 7.69%;"></div>
          <span>4 / 52</span>
        </div>
      </div>
      <div class="stat">
        <h3>Data Anki Deck</h3>
        <div class="progress-bar">
          <div class="progress" style="width: 61.54%;"></div>
          <span>32 / 52</span>
        </div>
      </div>
      <div class="stat">
        <h3>Data Projects Portfolio</h3>
        <div class="progress-bar">
          <div class="progress" style="width: 3.85%;"></div>
          <span>2 / 52</span>
        </div>
      </div>
      <div class="stat">
        <h3>Sailboating Articles</h3>
        <div class="progress-bar">
          <div class="progress" style="width: 5.77%;"></div>
          <span>3 / 52</span>
        </div>
      </div>
    </div>
  </section>
  
  <section>
    <h2>My posts to date: {formattedDate}.</h2>

    <div class="link-card-grid">
      {formattedPosts.map((post: { frontmatter: any; url: string }) => (
        <Card frontmatter={post.frontmatter} url={post.url} />
      ))}
    </div>
  </section>
</Layout>

<style>
  /* Hero section mainpage */
.hero {
  position: relative;
  background-color: var(--background-color);
  padding-bottom: 5rem;
  padding-top: 2rem;
}

.hero-background {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 60vh;
  background-image: url("https://cdn.midjourney.com/5fdd27f4-1e94-463e-b579-5d1033bb85aa/0_0.png");
  background-size: cover;
  background-position: center;
  z-index: 1;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

.hero-content {
  flex: 1;
  max-width: 600px;
  background: var(--primary-color);
  padding: 2rem;
  border-radius: 10px;
  box-shadow:
    0 2px 4px rgba(0, 0, 0, 0.1),
    0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 10; /* Ensures it stays on top of the image */
}

.hero-content h1 {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
  color: var(--text-color);
}

.hero-content .subtitle {
  font-size: 1.25rem;
  color: var(--text-color);
  margin-bottom: 1rem;
}

.hero-content .mission {
  font-size: 1rem;
  color: var(--text-color);
  margin-bottom: 1.5rem;
}

.cta-buttons {
  display: flex;
  gap: 1rem;
}

.btn {
  display: inline-block;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  text-align: center;
  border-radius: 5px;
  text-decoration: none;
  transition:
    background-color 0.3s,
    color 0.3s;
}

.btn-primary {
  background-color: var(--accent-color);
  color: var(--text-color);
  border: 2px solid var(--accent-color);
}

.btn-primary:hover {
  background-color: var(--secondary-color);
  border: 2px solid var(--secondary-color);
  color: var(--text-color);
}

.btn-secondary {
  background-color: transparent;
  border: 2px solid var(--accent-color);
  color: var(--text-color);
}

.btn-secondary:hover {
  background-color: var(--secondary-color);
  border: 2px solid var(--secondary-color);
  color: var(--text-color);
}

.hero-image {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-image img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

/* Stats Section */
.stats-section {
  
  margin: 3rem auto;
  padding: 2.5rem;
  background: rgba(var(--secondary-color-rgb), 0.8);
  border-radius: var(--border-radius-large);
  box-shadow:
    0 2px 4px rgba(0, 0, 0, 0.1),
    0 4px 8px rgba(0, 0, 0, 0.2);
}

.stats-section h2 {
  font-size: 2rem;
  color: var(--text-color);
  margin-bottom: 1.5rem;
  border-left: 5px solid var(--accent-color);
  padding-left: 1rem;
}

.stats-grid {
  max-width: 900px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: var(--spacing-large);
}

.stat {
  background: var(--primary-color);
  padding: var(--spacing-medium);
  border-radius: var(--border-radius-medium);
  box-shadow:
    0 2px 4px rgba(0, 0, 0, 0.1),
    0 4px 8px rgba(0, 0, 0, 0.1);
}

.stat h3 {
  font-size: 1.25rem;
  color: var(--text-color);
  margin-bottom: var(--spacing-small);
}

.progress-bar {
  background: var(--background-color);
  height: 10px;
  border-radius: var(--border-radius-small);
  position: relative;
  overflow: hidden;
}

.progress-bar .progress {
  height: 100%;
  background: var(--accent-gradient);
  border-radius: var(--border-radius-small);
  transition: width 0.5s ease;
}

.progress-bar span {
  position: absolute;
  right: 0;
  top: -20px;
  font-size: var(--font-size-small);
  color: var(--text-muted);
}

</style>