---
// Props passed from the Gallery page
const { title, image, description, content } = Astro.props;
---
<div class="gallery-item">
  <img src={image} alt={title} class="gallery-image" />
  <div class="gallery-info">
    <h2>{title}</h2>
    <p>{description}</p>
    <div class="gallery-content">
      {content}
    </div>
  </div>
</div>
