---
const { image } = Astro.props;
---

{image ? (
  <div class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50 z-50">
    <div class="modal-wrapper p-6 rounded-lg shadow-lg max-w-lg w-full" transition:name={`wrapper ${image.title}`}>
      <img src={image.image} alt={image.title} class="w-full h-auto rounded-t-lg" transition:name={image.title}/>
      <h2 class="text-xl font-semibold mt-4">{image.title}</h2>
      <button 
        class="closeButton mt-4 px-4 py-2 rounded transition-colors"
        id="closeButton"
      >
        Close
      </button>
    </div>
  </div>
) : null}

<script>
  // Add event listener to the close button
  document.getElementById('closeButton')?.addEventListener('click', () => {
    window.location.href = '/gallery-2'; // Replace with your desired URL
  });
</script>