---
const { image, content } = Astro.props;
const wrapperTransitionName = `wrapper-${image?.title}`;
const imageTransitionName = image?.title;
---

{image ? (
  <div class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50 z-50 p-4" transition:name="overlay">
    <div class="modal-wrapper p-6 rounded-lg shadow-lg w-full max-w-3xl max-h-[90vh] bg-white overflow-hidden flex flex-col" transition:name={`wrapper-${image.title}`}>
      <img src={image.image} alt={image.title} class="w-full h-auto max-h-[60vh] object-contain rounded-t-lg" transition:name={image.title}/>
      <div class="content-wrapper mt-4 overflow-y-auto flex-grow">
        {content && <div set:html={content} />}
      </div>
      <button 
        class="closeButton mt-4 px-4 py-2 text-white rounded transition-colors w-full sm:w-auto"
        id="closeButton"
      >
        Close
      </button>
    </div>
  </div>
) : null}

<script>
  // Add event listener to the close button
  document.getElementById('closeButton')?.addEventListener('click', () => {
    window.location.href = '/gallery-2'; // Replace with your desired URL
  });
</script>

<style define:vars={{ 
  wrapperTransitionName,
  imageTransitionName
}}>

  .modal-wrapper {
    background-color: var(--primary-color);
    border-radius: 8px;
    padding: 20px;
    box-shadow:
      0 2px 4px rgba(0, 0, 0, 0.1),
      0 4px 8px rgba(0, 0, 0, 0.2);
  }

  .closeButton {
    background-color: var(--accent-color);
    color: var(--text-color);
    border-radius: 8px;
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: 600;
  }

</style>