---
// src/layouts/ArticleLayout.astro
import { ViewTransitions } from "astro:transitions";
import Footer from "../components/Footer.astro";
import Navigation from "../components/Navigation.astro";
import "../styles/global.css";

const { title, sections } = Astro.props;

interface Section {
  id: string;
  title: string;
  content: any;
}

---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <!-- google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,400;1,700&display=swap"
      rel="stylesheet"
    />
    <ViewTransitions />
  </head>
  <body>
    <Navigation />
    <main>
      <div class="wrapper">
      <nav class="sidebar article-nav">
        <ul>
        {sections.map((section: Section) => (
            <li><a href={`#${section.id}`} class ="article-nav-link">
              {section.title}
            </a></li>
          ))}
          </ul>
      </nav>

      <article  class="post-content">
        {sections.map((section: Section) => (
            <section id={section.id}>
                <h2>{section.title}</h2>
               <Fragment set:html={section.content} />
            </section>
          ))}
      </article>
    </div>
    </main>
    <Footer />
  </body>
</html>

<style is:global>
  .article-nav {
    position: sticky;
    top: 0;
    background: var(--secondary-color);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  .article-nav-link {
    color: var(--text-color);
    text-decoration: none;
    margin-bottom: 10px;
    font-size: 1.1rem;
  }
  .article-nav-link:hover {
    color: var(--accent-color);
  }
  article {
    padding: 2rem;
    background-color: var(--secondary-color);
    border-radius: 8px;
    margin-top: 1rem;
  }
  section {
    margin-bottom: 3rem;
  }
  h2 {
    margin-top: 0;
  }
  .wrapper {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    align-items: flex-start;

    @media screen and (min-width: 768px) {
      flex-wrap: nowrap;
    }
  }
  .post-content {
    display: grid;
  }
  .sidebar {
    flex-shrink: 0;
    max-width: 250px;
    position: sticky;
    top: 2rem;
  }

</style>
